@media screen and (max-width: 1240px) {
    .container {
        max-width: 90%;
    }
}
@media screen and (max-width: 780px) {
    .process-as {
        grid-template-columns: repeat(2,1fr);
    }
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px) {
    html {
        font-size: 55.5%;
    }
    .hero-content-box h1 {
        font-size: 5.5rem;
    }
    .hero-content-box samp {
        font-size: 1.5rem;
    }
    .about-aa {
        grid-template-columns:1fr;
        text-align: center;
    }
    .exp-as {
        grid-template-columns: 1fr;
    }
    .con-grid,
    .work-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .test-grid,
    .process-as {
        grid-template-columns: repeat(1, 1fr);
    }
}